<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquiry Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <style>
       form{
           border: 3px solid blue;
           padding: 30px;
           border-radius: 10px;
           background-color: chocolate;
           box-shadow: 5px 5px 12px red, -5px -5px 12px black;

       }
   </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <input type="submit" value="Send Data"
                           class="btn btn-success" style="margin-left: 70px">
                </form>
            </div>
        </div>
    </div>
</body>
</html>