# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Online_Django10AM_Batch\EnquireForm_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
